.form-field {
    border: 2px solid #0389BE;
    border-radius: 0;
    background-color: #2C2D2F;
    font-family: calibri;
    font-size: 1.25rem; 
}


.form-field:focus {
    border: 2px solid #0389BE;
    border-radius: 0;
    background-color: #2C2D2F; 
}