.App {
  text-align: start;
  overflow-y:hidden;
  overflow-x: hidden;
}

.sidebar {
  width: 220px; 
  background: black;
}

.social-link { 
  font-size: 1.25rem;
  margin:1rem;
  color:#0389BE;
  cursor: pointer;
}

.sidebar-link {
  cursor: pointer;
  border-bottom: 1px solid gray;
  font-family: "calibri";
  color: gray;
  margin: .5rem;
  padding: .5rem;
}

.sidebar-link:hover {
  color: #0389BE;
  border-bottom: 1px solid #0389BE;
  font-weight: 600;
}

.sidebar-link:focus {
  color: #0389BE;
}

.carousel-body {
  overflow-y: scroll;
  height: 100vh;
}

.carousel-body::-webkit-scrollbar {
 max-width: 5px;      
}

.carousel-body::-webkit-scrollbar-track { 
  display: none;        
}

.carousel-body::-webkit-scrollbar-thumb {
  background-color: #0389BE;   
  border-radius: 20px;      
}

.body-container {
  padding: 2rem;
  width: 75%;
  transition: all .5sec; 
  z-index: 0;
}


.navigation-bar{
  display: none;
  position: fixed;
  width: 100%;
}



@media only screen and (max-width: 700px) {
  .sidebar {
   display: none;
  }

  .body-container {  
    margin-top: 4rem; 
    width: 85%;
  }

  .navigation-bar  {
    display: block;
}  
}

@media only screen and (max-width: 420px) {
  .body-container {   
    width: 95%;
  }
}